
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Replacement Item</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="ion-content-body">
  <div class="ion-item-body">
    <ion-item class="ion-item-item">

      <!-- <div class="row">
        <div class="col col-title">Genset No:</div>
        <div class="col col-details">{{genset_qr}} </div>
      </div>

      <div class="a" [hidden]='!hide'>      
        <button text-center class="a" (click)="getCode()" ion-button>
          <ion-icon style="zoom:2.0;" name="qr-scanner"></ion-icon>
        </button>
    </div> -->


      <div class="row">
        <div class="col"></div>
        <div class="col">
            <button ion-button icon-only (click)='addReplacement()'> Add Replacement </button>
        </div>
        <div class="col"></div>
      </div>
    </ion-item>

    <br>
    <ion-item class="ion-item-item">
      <h4 ALIGN=Left class="title"><b>Inventory Bag</b></h4>
      <br>
      <ion-searchbar showCancelButton="always" #mySearchbar (ionInput)="getList0($event)"></ion-searchbar>

      <div *ngFor="let m of items" class="ion-item-body">
        <p class="title">Item Code : {{m.Item_Code}}</p>
        <p class="title">Item Name : {{m.Part_Name}}</p>
        <p class="title">Serial No : {{m.Serial_No}}</p>
        <p class="title">Unit : {{m.Unit}}</p>
        <p class="title">Qty : {{m.Qty}}</p>
        <p class="title">Condition : {{m.ItemCondition}}</p>
        <p class="title">Status : {{m.status}}</p>
        <br>
        <!-- <p class="date">Replace Qty: {{m.replace['qty']}}</p>
        <p class="date">New Qty : {{m.new['qty']}}</p> -->
      </div>
      <br>
    </ion-item>

    <div *ngFor="let m of modalData;let i= index" class="ion-item-body">
      <ion-item class="ion-item-item">
        <p ALIGN=RIGHT >
          <b>
            <ion-icon name="trash" (click)='remove(m.row)'></ion-icon>
          </b>
        </p>
        <h4 class="title">Item Code :{{m.new['model']}}</h4>
        <h4 class="title">Item Name :{{m.new['name']}}</h4>
        <h4 class="title">Serial No :{{m.new['item']}}</h4>
        <!-- <h4 class="title">KVA :{{m.new['capacity']}}</h4> -->
        <p class="date">Replace Qty: {{m.replace['qty']}}</p>
        <p class="date">Replace Condition : {{m.replace['condition']}}</p>
        <p class="date">New Qty : {{m.new['qty']}}</p>
        <p class="date">New Condition : {{m.new['condition']}}</p>
      </ion-item>
    </div>

  </div>
</ion-content>

<ion-footer [hidden]='hide'>
  <button full ion-button (click)='submit()' [disabled]="disablebutton">Submit</button>
</ion-footer>

