page-order {
    .app {
        background: #42dff4;
        color: black;
        padding-bottom: 5px;
      }
    
      .ion-title {
        text-align: center;
        color: white;
      }
    
      .ion-content {
        background-color: #f1f2f6;
      }
    
      .round-button {
        border: none;
        background-color: transparent;
        color: white;
        padding: 7px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        margin-right: 20px;
      }
    
      .button1 {
        border-radius: 50px;
        background-color: #3498db;
        box-shadow: 0 0 5px #3498db;
      }
    
      div.a {
        text-align: center;
        color: #000000;
      }
    
      p {
        padding-left: 20px;
      }
    
      #notifications-badge {
        background-color: red;
        position: absolute;
        border-radius: 100%;
      }
      .item-title{
        padding-left:8px;
      }
}
