page-task-modal {
  .ion-item-body {
    margin: 0px;
    padding-bottom: 5px;
    padding-top: 5px;
  }

  .ion-item-item {
    background: white;
    border-radius: 8px;
    text-align: center;
    white-space: pre-line;
  }

  h4 {
    white-space: normal;
  }

  .title {
    text-align: left;
  }
}
