page-listform{
    .ion-content{
        background-color: #f1f2f6;
    }

    .ion-item{
        background-color: #f1f2f6;
    }
    
    .text-input::-webkit-input-placeholder {
        text-indent: 0;
        color: rgba(0,0,0,0.55);
    }

    .error {
        color: rgb(223, 62, 62);
        font-size: 11px;
    }

    .item-input ion-input, .item-input ion-textarea, .item-label-stacked ion-datetime, .item-ios.item-label-stacked .text-input {
        position: static;
        font-size: 14px;
    }

    .select-ios .select-placeholder, .datetime-ios .datetime-placeholder, .datetime-ios .datetime-placeholder {
        color: #999;
        font-size: 14px;
    }

    .error1 {
        color: rgb(75, 75, 75);
        border-bottom: 1px solid #ff0000;
    }
}