page-attendancesharecost {
    .ion-content{
    background-color: #f1f2f6;
    }
    .a{
    text-align: center;
    }
    .ion-item{
    background: white;
    white-space: normal !important;
    }
    .text-input::-webkit-input-placeholder {
    text-indent: 0;
    color: rgba(0,0,0,0.55);
    }
    .center {
    margin: auto;
    width: 100%;
    text-align: center;
    }
    .error {
    color: rgb(223, 62, 62);
    font-size: 11px;
    }
    .error1 {
    color: rgb(75, 75, 75);
    border-bottom: 1px solid #ff0000;
    }

    .required:after {
    content:" *";
    color:red;
    }



    .thumbnail-container {
    overflow-x:scroll;
    width:100%;
    // padding: 0 15px;
    }

    .thumbnail-list {
        white-space:nowrap;
        list-style: none;
        padding: 0;
    }
    .thumbnail-list li {
    display: inline-block;
    }
    .thumbnail-image {
        display: block;
        padding:2px;
        max-width: 100px;
        height:auto;
    }

    .label-md {
    margin: 13px 8px 13px 0;
    }
    
    ion-label,ion-item {
    margin: 0;
    display: block;
    overflow: hidden;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: inherit;
    text-overflow: ellipsis;
    white-space: normal !important;
    }
    
    .ion-item-body {
        margin: 0px;
        padding-bottom: 5px;
        padding-top: 10px;
        // background: white;
      }
    
      .ion-item-item {
        background: white;
        border-radius: 8px;
        text-align: center;
        white-space: pre-line;
        padding-top: 2px;
      }
}
.green{

    button{
        color: rgb(9, 247, 9);
    }
}
    