page-clientdetails {

    // ion-header
    .bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default {
        color: #000;
        background-color: transparent;
    }

    .toolbar-background-ios {
        background: transparent;
    }

    .header-ios .toolbar-background-ios, .footer-ios .toolbar-background-ios {
        border-style: none;
        border-color: transparent;
    }

    .toolbar-background-md {
        border-color: transparent;
        background: transparent;
    }

    .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
        left: 0;
        bottom: -5px;
        background-position: left 0 top -2px;
        position: absolute;
        width: 100%;
        height: 5px;
        /* background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAHBAMAAADzDtBxAAAAD1BMV…h/TXEAAAAaSURBVAjXYxCEAgY4UIICBmMogMsgFLtAAQCNSwXZKOdPxgAAAABJRU5ErkJggg==); */
        background-image: none;
        background-repeat: repeat-x;
        content: "";
    }

    .content-ios, .content-md {
        color: #000;
        background: linear-gradient(to bottom, rgb(234, 238, 255) 0%,  rgb(213, 221, 255) 100%);
        // background: linear-gradient(to left, #fff, #000);
        // background: linear-gradient(to bottom, #FFFFFF,  #ECE9E6);
    }

    .notice-content{
        margin: 12px 12px;
        padding: 12px;
        width: 100%;
        max-height: 100%;
        background-color: #fff;
        border-radius: 5px;
        overflow:auto;
        position: relative;
        display: table;
    }

    .notice-title {
        width: 100%;
        display: table-row;
    }

    .notice-details {
        width: 100%;
        display: table-row;
    }

    .notice-sender {
        text-align: right;
        width: 100%;
        display: table-row;
    }

    .notice-attachment{
        display: table-row;
        width: 100%;
    }

    .col-title {
        // margin-left: -100px;
        font-weight: bold;
        white-space: pre-line;
        font-size: 14px;
    }

    .col-details {
        margin-left: -80px;
        // font-weight: bold;
        white-space: pre-line;
        font-size: 14px;
    }

}
