<ion-header>

  <ion-navbar color="primary">
    <ion-title>My Approval</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="leave-list">

  <div class="empty-state" *ngIf="!items?.length">
    <ion-icon name="checkmark-circle"></ion-icon>
    <p>Nothing waiting for approval</p>
  </div>

  <div class="leave-card" *ngFor="let item of items;" [navPush]="leavedetail5" [navParams]="item">
    <div class="avatar amber">
      <ion-icon name="person"></ion-icon>
    </div>
    <div class="body">
      <div class="top">
        <h2>{{item.Name}}</h2>
        <span class="new-tag" *ngIf="notifications[item.LeaveId]">NEW</span>
      </div>
      <p class="range"><ion-icon name="calendar"></ion-icon> {{item.Start_Date}} &rarr; {{item.End_Date}}</p>
      <p class="type">{{item.Leave_Type}}</p>
    </div>
    <span class="status-pill amber">{{item.Status}}</span>
  </div>

</ion-content>
