page-replacementitemmodal {
    .col-details {
        // margin-left: -100px;
        // font-weight: bold;
        white-space: pre-line;
        font-size: 14px;
    }

    .ion-item-item {
        background: white;
        border-radius: 8px;
        padding-top: 4px;
        text-align: center;
        white-space: pre-line;
    }
}
    

