page-task {

    ion-header {
        .toolbar {
        //   position: absolute;

        //   .toolbar-background-md {
        //     background: transparent;
        //   }
            .toolbar-title-md {
            color: black;
            // text-align: center;
            // padding-right: 10%;
            }
        }
        .bar-button-default-md:hover:not(.disable-hover), .bar-button-clear-md-default:hover:not(.disable-hover), .bar-button-md-default:hover:not(.disable-hover) {
            color: white;
        }
        .bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default {
            color:rgb(0, 0, 0);
        }
        .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
            color: black;
        }        
    }

    .ion-content-body {
        // background: linear-gradient(to bottom, #000046 0, #240b36 );
        background: linear-gradient(to bottom, rgba(75, 107, 183, 0.925) 0%,  rgba(24, 40, 72, 0.925) 100%);
    }

    .ion-item-body {
        margin: 0px;
        padding-bottom: 5px;
        padding-top: 5px;
        // max-height: 240px;
        // background: white;
    }

    .ion-item-item {
        background: white;
        border-radius: 8px;
        text-align: center;
        white-space: pre-line;
        // max-height: 230px;
    }

    .image {
        max-height: 80px;
        max-width: 80px;
    }

    .title {
        text-align: left;
    }

    .badge {
        width:40px;
        position: absolute;
        right: 0px;   
        top: -5px;
    }
    .test2{
        width:70px;
        top: 10px;
        position: absolute;
        right: 10px;   
        top: 5px;
    }
}
